.maketforfigma {
  flex: 0 0 auto;
  background: #313a46;
  font-weight: bold;
  display: flex;
}
.maketforfigma img {
  border-radius: 10px;
  margin: 4px 0 0 4px;
}
.maketforfigma p {
  color: #98a6ad;
  text-decoration: none;
  letter-spacing: 0.01875rem;
  font-size: 1.3rem;
  padding: 0 10px;
  line-height: 1rem;
}
.maketforfigma p > a {
  color: #bbe4f0;
  font-weight: bold;
}
.maketforfigma p > a:hover {
  color: #ffffff;
}
.main {
  flex: 1 0 auto;
}

/* Base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% => 1rem = 10px
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1440px;
  height: 100%;
}

:root {
  --color-white: #fff;
  --color-white-light: #f5f1e9;
  --color-background-white: #fcfaf6;
  --color-main-font-black: #35312e;
  --color-ternary-font-brown: #4f463f;
  --color-background-banner: #f0eedd;
  --color-font-banner: #670a18;
  --color-background-circle: #c87b5e;
  --color-background-btn-orange: #d37657;
  --color-background-pans: #fbf6ea;

  --color-pan-beige: #e09d81;
  --color-pan-dark-blue: #748ea1;
  --color-pan-brown: #b76d47;
  --color-pan-swamp: #7d836e;
  --color-pan-red: #c33636;
  --color-pan-pastel-grey: #cdc7b3;
  --color-pan-darker-grey: #595752;
  --color-pan-queen-pink: #d3c2ca;

  --color-font-border: #6e6259;

  --color-product-pastel-grey: #ccbd9e;
  --color-product-brown: #b55900;
  --color-product-swamp: #5b653b;

  --color-background-footer: #6c674d;
  --color-background-footer-2: #807c62;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.btn {
  border: none;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}

.btn--orange {
  padding: 2rem 5.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 170%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-background-btn-orange);
}

.btn--white {
  padding: 1.9rem 5.3rem 2.3rem;
  border: 1px solid rgba(170, 160, 152, 0.29);
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-ternary-font-brown);
  background-color: var(--color-white);
}

.heading-1 {
  font-weight: 400;
  font-size: 5rem;
  line-height: 110%;
  letter-spacing: 1px;
}

.heading-2 {
  font-weight: 700;
  font-size: 4.1rem;
  line-height: 113%;
  text-align: center;
  letter-spacing: 1.25px;
}

.heading-3 {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 137%;
  text-align: center;
}

.heading-4 {
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 167%;
  text-align: center;
  letter-spacing: 1.2px;
}

.heading-5 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  text-transform: uppercase;
}

.heaading-6 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.heading-7 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.main {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--color-main-font-black);
}

/* Banner */
.banner {
  padding: 1rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-font-banner);
  background-color: var(--color-background-banner);
}

/* Header */
.header {
  padding: 2.5rem 4.8rem;
  border-bottom: 1px solid #e6e6e6;
  background-color: var(--color-white);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links-2 {
  display: flex;
  align-items: center;
}

.links-1-list,
.links-2-list {
  display: flex;
}

.links-2-list {
  margin-right: 2.7rem;
}

.links-1-item:not(:last-child),
.links-2-item:not(:last-child) {
  margin-right: 5rem;
}

.links-1-item a,
.links-2-item a {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 22px;
  text-transform: uppercase;
}

.user-btn {
  border: none;
  border-radius: 17.5px;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.3rem;
  color: var(--color-white-light);
  background-color: var(--color-background-circle);
  cursor: pointer;
}

/* Hero */
.hero {
  padding: 16.3rem 10rem 17rem 38.3rem;
  background-image: url("../img/hero.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__heading-1 {
  margin-bottom: 1.8rem;
}

.hero__heading-2 {
  max-width: 250px;
  margin-bottom: 6.5rem;
}

.hero__heading-2 span {
  text-decoration: #35312e solid underline;
  text-decoration-thickness: 2px;
}

/* Companies */
.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 15rem 5.3rem;
  background-color: var(--color-white-light);
}

.companies__heading {
  max-width: 670px;
  margin-bottom: 4rem;
}

.companies__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.companies__item {
  height: 29px;
}

.logo-company {
  width: 100%;
}

/* Wellcome */
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12rem 15rem 9rem;
  background-color: var(--color-background-white);
}

.welcome__heading {
  width: 33%;
}

.welcome__text {
  width: 54%;
  font-size: 1.6rem;
  line-height: 162%;
  color: var(--color-ternary-font-brown);
}

/* Pans */
.pans {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 34.3rem 14rem;
  background-color: var(--color-background-pans);
}

.pans__heading {
  margin-bottom: 5.4rem;
}

.pans__color {
  margin-bottom: 4.5rem;
}

.pans__btn {
  width: 3rem;
  height: 3rem;
}

.btn-color {
  border: 3px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.btn-color:not(:last-child) {
  margin-right: 1.3rem;
}

.btn-color--focus {
  border-color: var(--color-pan-beige);
}

.btn-color--focus-2 {
  border-color: var(--color-font-border);
}

.btn-color--1 {
  background-color: var(--color-pan-beige);
}

.btn-color--2 {
  background-color: var(--color-pan-dark-blue);
}

.btn-color--3 {
  background-color: var(--color-pan-brown);
}

.btn-color--4 {
  background-color: var(--color-pan-swamp);
}

.btn-color--5 {
  background-color: var(--color-pan-red);
}

.btn-color--6 {
  background-color: var(--color-pan-pastel-grey);
}

.btn-color--7 {
  background-color: var(--color-pan-darker-grey);
}

.btn-color--8 {
  background-color: var(--color-pan-queen-pink);
}

.btn-color--9 {
  background-color: var(--color-product-pastel-grey);
}

.btn-color--10 {
  background-color: var(--color-product-brown);
}

.btn-color--11 {
  background-color: var(--color-product-swamp);
}

.btn-color--12 {
  border: 1px solid rgba(110, 99, 90, 0.3);
  background-color: var(--color-white);
}

.pans__construction {
  position: relative;
  width: 100%;
}

.pan {
  position: relative;
  transform: translateX(175px);
  z-index: 10;
}

.pans__note {
  position: absolute;
  font-size: 1.2rem;
  line-height: 129%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-font-border);
}

.pans__note--1 {
  max-width: 145px;
  top: 84px;
  left: 26px;
}

.pans__note--2 {
  max-width: 145px;
  top: 37px;
  right: 50px;
}

.pans__note--3 {
  max-width: 105px;
  bottom: 167px;
  left: 112px;
}

.pans__note--4 {
  max-width: 164px;
  right: 41px;
  bottom: 239px;
}

.pans__note--5 {
  bottom: 35px;
  left: 34px;
  max-width: 166px;
}

.pans__note--6 {
  right: 26px;
  bottom: 95px;
}

.pans__square {
  position: absolute;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--color-pan-beige);
}

.pans__square--1 {
  top: 99px;
  left: 206px;
}

.pans__square--2 {
  top: 107px;
  right: 118px;
  z-index: 11;
}

.pans__square--3 {
  left: 265px;
  bottom: 146px;
  z-index: 11;
}

.pans__square--4 {
  bottom: 251px;
  right: 236px;
}

.pans__square--5 {
  left: 282px;
  bottom: 24px;
  z-index: 11;
}

.pans__square--6 {
  bottom: 132px;
  right: 118px;
}

/* Goods */
.goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 6rem 10rem;
  background-color: var(--color-background-white);
}

.goods__heading {
  max-width: 500px;
  margin-bottom: 2rem;
}

.goods__text {
  margin-bottom: 4.5rem;
  max-width: 460px;
  font-size: 1.8rem;
  line-height: 161%;
  text-align: center;
  color: var(--color-ternary-font-brown);
}

.goods__list {
  display: flex;
  justify-content: space-between;
}

.goods__item {
  width: 21.5%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__details {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
}

.product__name {
  margin-top: -1.7rem;
  margin-bottom: 0.3rem;
}

.product__price {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: var(--color-font-border);
}

.product__descr {
  margin-bottom: 4rem;
  max-width: 180px;
  font-size: 1.1rem;
  line-height: 178%;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--color-font-border);
}

.product__descr--4 {
  margin-bottom: 2rem;
}

.product__descr--2 {
  margin-bottom: 2rem;
}

.product__pic {
  background-image: url("../img/oval.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.product__pic img {
  transform: translateY(-43px);
  height: 290px;
}

.product__pic--2 img {
  transform: translate(17px, 13px);
}

.product__color {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.product__color--2 {
  width: 100%;
}

.product__btn {
  width: 2rem;
  height: 2rem;
}

/* Follow */
.follow {
  display: flex;
  background-color: var(--color-white-light);
}

.follow__pic-1,
.follow__pic-2 {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.follow__pic-1 {
  background-image: url("../img/follow.jpg");
}

.follow__pic-2 {
  background-image: url("../img/follow-2.jpg");
}

.follow__descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10.9rem 1.4rem;
  width: 50%;
}

.follow__hash {
  margin-bottom: 3.5rem;
}

.hashtag {
  font-size: 1.1rem;
  line-height: 185%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.follow__name {
  margin-bottom: 6.2rem;
  font-size: 2.4rem;
  line-height: 192%;
  text-align: center;
  letter-spacing: 1px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
}

.footer__social {
  display: flex;
  padding: 8rem 12.5rem 12rem 4.8rem;
  background-color: var(--color-background-footer);
}

.footer__subscribe {
  width: 73%;
}

.subscribe__name {
  margin-bottom: 1rem;
  font-size: 2.3rem;
  line-height: 250%;
  letter-spacing: 0.7px;
  text-align: left;
  color: var(--color-white-light);
}

.subscribe__text {
  margin-bottom: 6rem;
  font-size: 1.4rem;
  line-height: 171%;
  color: var(--color-background-white);
}

.subscribtion {
  display: flex;
}

.subscribtion__input {
  border: none;
  padding: 3rem 19.2rem 1.8rem 1.8rem;
  background-color: var(--color-background-white);
}

.subscribtion__input:focus {
  outline: none;
}

.subscribtion__input::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 58px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.5);
}

.subscribtion__btn {
  padding: 2.3rem 2.5rem 2rem 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-ternary-font-brown);
  background-color: var(--color-background-white);
}

.footer__links {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.links__sites {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.7rem;
}

.links__item:not(:last-child) {
  margin-bottom: 1rem;
}

.links__link {
  font-size: 1.6rem;
  line-height: 191%;
  color: rgba(245, 241, 233, 0.6);
}

.links__link-special {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 170%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-white-light);
}

.links__countries-in {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 170%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-white-light);
}

.countries img:not(:last-child) {
  margin-right: 2rem;
}

.footer__policy {
  display: flex;
  padding: 2rem 4.8rem;
}

.policy {
  font-size: 1.4rem;
  line-height: 27px;
  color: rgba(252, 250, 246, 0.5);
  background: var(--color-background-footer-2);
}

.footer__copyright {
  margin-right: auto;
}

.policy__list {
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
  width: 24%;
}

.btn-access {
  padding: 0rem 3.1rem;
  background-color: var(--color-background-white);
  border-radius: 5px;
}
